.column {
    flex: 1;
    padding: 10px;
}

.garmin-checkbox {
    transform: scale(1.5); /* Adjust the scale factor as needed */
}
.product {
    margin-bottom: 10px;
}

.garmintitle {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    cursor: pointer; /* Add cursor pointer to indicate clickable */
}

/* Styling for arrow indicator */
.garmintitle::after {
    content: "\25B8"; /* Right-facing triangle arrow */
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s; /* Smooth transition for rotation */
}

/* Rotate arrow when content is expanded */
.garmin-expanded-arrow::after {
    transform: rotate(90deg);
}
/* Hide content by default */
.garmincollapsed {
    display: none;
}

/* Show content when expanded */
.garminexpanded {
    display: block;
}

/* Styling for badge */
.garminbadge {
    background-color: red;
    color: white;
    border-radius: 50%; /* Make the badge circular */
    padding: 5px 8px; /* Adjust padding as needed */
    font-size: 12px; /* Adjust font size as needed */
    margin-left: 5px; /* Add margin to separate badge from text */
}
